name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
    - name: Install dependencies
      run: npm --prefix assignment-2 install
    - name: Install Playwright Browsers
      run: npx --prefix assignment-2 playwright install --with-deps
    - name: Run Playwright tests
      run: npx --prefix assignment-2 playwright test -c ./playwright.config.js
    - name: Generate Allure report
      run: npx --prefix assignment-2 allure generate allure-results --clean -o allure-report
    - name: Upload Allure report
      uses: actions/upload-artifact@v4
      with:
        name: allure-report
        path: assignment-2/allure-report
